# ignore byte compiled files
*.pyc

# ignore egg stuff
taunus.egg-info

# ignore actual ini files
development.ini
production.ini

############################################################
# Ignores related to my developing environment             #
############################################################

# ignore emacs backups
*~

# ignore rope stuff
.ropeproject/

# nose coverage file
.coverage